env/
__pycache__/
*.pyc
db.sqlite3
*.zip
.vSCode/
.vscode/
old_version_model/
.md
C:\Users\LENOVO\Desktop\jobportal\backend\media\ml_models

media/ml_models/
backend/media/ml_models/xgboost/complete_xgboost_package.pkl
backend/media/ml_models/xgboost/xgboost_model.pkl